/* HHSOJ default theme */
/* by Zzzyt from Hell Hole Studios*/
p, span, a, th, td, label {
	font-family: "Consolas", "Courier New", Courier, monospace;
}

input[type=button], input[type=submit], button {
	font-family: "Consolas", "Courier New", Courier, monospace;
}

.title {
	font-weight: bold;
	font-family: "Consolas", "Courier New", Courier, monospace;
}

.subtitle {
	font-family: "Consolas", "Courier New", Courier, monospace;
}

.topbar-item a {
	font-weight: bold;
}

.hljs {
	border-radius: 3px;
}

.topbar-item {
	transition: 0.2s;
}

body {
	background: #f8f8f8;
}

.container{
	background: #f8f8f8;
}

table {
	background: #ffffff;
}

table>tbody>tr>th {
	background: #dee2e6;
}

table>tr>th {
	background: #dee2e6;
}

code, kbd, pre, samp {
	border-radius: 3px;
	background-color: #f0f0f0;
}

code:empty, kdb:empty, pre:empty, samp:empty {
	border-radius: 0px;
	visibility: hidden;
}

/* Markdown:Anchor */
.octicon {
	color: #1b1f23;
}

.title-right {
	font-family: "Consolas", "Courier New", Courier, monospace;
	color: #777777;
}

.topbar-item:hover {
	background: #777777;
}

.navbar-brand:hover {
	background: #777777;
}

.vcard-verdict {
	font-family: monospace;
	font-weight: bold;
	color: #ffff;
}

.vcard-score {
	font-family: monospace;
	font-weight: bold;
	color: #ffffff;
}

.vcard-tm {
	font-family: monospace;
	color: #ffffff;
}

.vcard-test {
	font-family: monospace;
	color: #ffffff;
}

.vcard:hover {
	filter: brightness(85%);
}

.vcard {
	background: #cccccc;
	transition: 0.3s;
}

.vcard-ac {
	background: #00ee00;
}

.vcard-wa {
	background: #0000ee;
}

.vcard-tle {
	background: #ff8800;
}

.vcard-mle {
	background: #aa00aa;
}

.vcard-re {
	background: #dd0000;
}

.vcard-rf {
	background: #ddcc00;
}

.vcard-pt {
	background: #66ccff;
}

.copy-btn {
	color: #999999;
	background-color: transparent;
}

.copy-btn:hover {
	color: #ffffff;
	background-color: #666666;
}

.colored-header span{
	color: #ffffff;
}